appdirs (1.4.0)
backports.shutil-get-terminal-size (1.0.0)
bleach (1.5.0)
click (6.7)
click-plugins (1.0.3)
cligj (0.4.0)
configparser (3.5.0)
cycler (0.10.0)
decorator (4.0.11)
descartes (1.1.0)
entrypoints (0.2.2)
enum34 (1.1.6)
Fiona (1.7.2)
functools32 (3.2.3.post2)
GDAL (2.0.3)
geopandas (0.2.1)
html5lib (0.9999999)
ipython-genutils (0.1.0)
Jinja2 (2.9.5)
jsonschema (2.5.1)
jupyter-core (4.2.1)
MarkupSafe (0.23)
matplotlib (2.0.0)
mistune (0.7.3)
munch (2.1.0)
nbconvert (5.1.1)
nbformat (4.2.0)
numpy (1.12.0)
packaging (16.8)
pandas (0.19.2)
pandocfilters (1.4.1)
pip (9.0.1)
prompt-toolkit (1.0.9)
Pygments (2.2.0)
pyparsing (2.1.10)
pyproj (1.9.5.1)
python-dateutil (2.6.0)
pytz (2016.10)
PyYAML (3.12)
requests (2.12.1)
setuptools (34.1.0)
Shapely (1.5.17)
simplegeneric (0.8.1)
six (1.10.0)
testpath (0.3)
topojson (0.2.0)
traitlets (4.3.1)
wcwidth (0.1.7)
wheel (0.24.0)
win-unicode-console (0.5)
